[class*='col-'] {
	/*-- gutter -- */
	padding-left: 12px;
	padding-right: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.row {
	box-sizing: border-box;
	display: box;
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	margin-left: -6px;
	margin-right: -6px;
}

.row {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}


/* mobile first */
@for $i from 1 through 12 {
  .col-xs-#{$i} { 
  	width: 100% / (12 / $i); 
  }
}

/* medias querys */
@each $tam,$long in (768px: sm, 991px: md, 1200px: lg) {
	@media (min-width: #{$tam}) {
		@for $i from 1 through 12 {
		  .col-#{$long}-#{$i} { 
		  	width: 100% / (12 / $i); 
		  }
		}
	}
}

.outline, .outline *{
	outline: 1px solid #F6A1A1; 
}


