/* Flexbox grid system*/
.container {
	// padding-right: 12px;
    // padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*='col-'] {
	/*-- gutter -- */
	padding-left: 12px;
	padding-right: 12px;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

.row {
 	-webkit-flex-basis: 100%;
  	flex-basis: 100%;
	box-sizing: border-box;
	display: box;
	display: flex;
	flex-wrap: wrap;
}

/* mobile first */
@for $i from 1 through 12 {
  .col-xs-#{$i} { 
  	width: 100% / (12 / $i); 
  }
}

/* medias querys */
@each $tam,$long in (768px: sm, 991px: md, 1200px: lg) {
	@media (min-width: #{$tam}) {
		@for $i from 1 through 12 {
		  .col-#{$long}-#{$i} { 
		  	width: 100% / (12 / $i); 
		  }
		}
	}
}


