/* Typography */

html {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  background: #fff;
  color: #333;
  line-height: 1.5em;
}

/* Headings */

@for $i from 1 through 4 {
  h#{$i} { 
  		font-size: #{42px - (6 * $i)}; 
  }
}
h5 { font-size: 14px;}
h6 { font-size: 12px;}

h1,h2,h3,h4,h5,h6 {
	font-weight: 500;
  line-height: 1.1;
  margin-bottom: 24px;
}

/* Paragraphs */

p {
  margin-bottom: 24px;
}

/* Divider */ 

hr {
    max-width: 75rem;
    height: 0;
    border: 0;
    border-bottom: 1px solid #cacaca;
    margin: 1.25rem auto;
    clear: both;
}

/* Blockquotes */

blockquote {
  display: block;
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  background: #f9f9f9;
  border-left: 6px solid #ccc;
}

cite {
  display: block;
  font-weight: bold;
  :before {
    content: '\2014 \0020';
  }
}

/* Code && Keystrokes */
code, samp, kbd {
  font-family: "Courier New", Courier, monospace, sans-serif;
  text-align: left;
  color: #555;
}

pre {
  tab-size: 2;
  padding: 10px 20px;
  border-left: 6px solid #ccc;
  background: #f9f9f9;
  overflow: auto;
  white-space: pre-wrap;

  code {
    text-align: inline;
    line-height: 1.6em;
    font-size: 16px;
  }
}

/* Highlight text */
mark {
  background-color: #fcf8e3;
}


